@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        background-color: #95a5a6;
    }
}

.main {
    padding: 90px 20px 20px 20px;
    background-color: #95a5a6;
    min-height: 100%;
}

/*SALVATTORE SETTINGS*/
#grid[data-columns]::before { content: "4 .column.size-1of4"; }
.column { float: left; padding-left: 5px; padding-right: 5px; }
.size-1of4 { width: 25%; }
