.lobster {
    font-family: 'Lobster', cursive;
    color: white;
}

.logo {
    font-size: 30px;
    padding: 27px 15px !important;
    transition: 0.3s color;
}

.logo-simple {
    font-size: 30px;
    transition: 0.3s color;
}

#app{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

body, html{
    min-height: 100%;
}
